@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kdam+Thmor+Pro&family=Prompt&display=swap');
*{
    margin: 0;  
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;
}

body{
    background-color: #fffffe;
}

nav{
    padding: 5px 10px;
    background-color: #272343;
    color: #bae8e8;
    height: 50px;
    display: flex;
    justify-content: space-between;
    
}
nav ul{
    display: flex;
    justify-content: end;  
    list-style-type: none;
    
}
nav span{
    box-sizing: border-box;
    padding: 5px;
    font-size: 30px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
nav ul li a{
    text-decoration: none;
    color: #bae8e8;
    padding: 5px;
    margin: 0 10px;
    font-size: 30px;
    font-family: 'Prompt', sans-serif;
    
}

nav ul li a:hover{
    background-color: #bae8e8;
    color: #272343;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
}

.container{
    background-color: #fffffe;
    height: 650px;
    font-family: 'Prompt', sans-serif;
    position: relative;
    margin-bottom: 50px;
}
.container span{
    position: relative;
    top: 40%;
    margin:0px 30px;
    font-size: 100px;
    color: #ffd803;
}

.me{
    text-align: center; 
    margin: 30px;
    padding: 20px;
}
.me h1{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 50px;
    color: #272343;
}
.me p{
    font-family: 'Prompt', sans-serif;
    font-size: 25px;
}

.banner{
    background-color: #fffffe;
    color: #272343;
    text-align: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 50px;
    margin-top: 100px;
}
.banner2{
    color: #272343;
    text-align: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 50px;
    margin-top: 70px;
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    background-color: #f2f7f5;
    height: 400px;
    
}

.education{
    margin: 10px;
    width: 95%;
    height: 100px;
    background-color: #f2f7f5;
    text-align: center;
}
.education h1{
    text-decoration: underline;
    color: #00473e;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 20px;
    margin: 9px;
}

.education p{
    font-size: 18px;
    font-family: 'Prompt', sans-serif;
    color: #475d5b;
}

.about2{
    background-color: #fffffe;
    height: 500px;
}
.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    
}
.skill{
    background-color: #094067;
    color: #bae8e8;
    margin: 30px;
    padding: 15px;
    width: 30%;
    height: 85px;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    font-size: 50px;
    cursor: pointer;
}
.skill span{
    display: inline-block;
    padding: 6px 8px;
    border-radius: 5px;
    background-color: #094067;
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: #fffffe;
    margin-bottom: 15px;
}
.skill:hover{
    animation: away 0.5s ease-in-out 0s 1 normal forwards;
}

.content{
    background-color: #abd1c6;
    height: 420px;
    margin: 50px 0;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
}
.content h1{
    color: #001e1d;
    font-size: 50px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
.projects{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.project{
    background-color: #004643;
    width: 250px;
    height: 225px;
    margin: 50px;
    border-radius: 5px;

}
.project img{
    width: 160px;
    height: 160px;
    margin: 10px;
}
.project span{
    color: #fffffe;
    font-size: 20px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
.project:hover{
    cursor: pointer;
    box-shadow:10px 10px 20px #004643;
    
}
.contact{
    position: relative;
    bottom: 10px;
    height: 65px;
    text-align: center;
    font-size: 25px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
.logos{
    display: flex;
    justify-content: center;
}
.logo img{
    width: 50px;
    height: 50px;
    margin: 0 20px;
}

.logo img:hover{
    cursor: pointer;
    animation: shake 0.5s linear 0s 1 normal;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    
  }

.scrollTop{
    margin: 20px;
    z-index: 100;
    position: fixed;
    text-align: center;
    font-weight: bolder;
    width: 30px;
    height: 30px;
    background-color: rgb(149, 165, 165);
    color: #555;
    overflow: hidden;
    border-radius: 50%;
    bottom: 0;
    right: 0;
}

.scrollTop:hover{
    border: 2px solid rgb(66, 70, 70);
    transition: border 1s linear;
    cursor: pointer;
}

.hamburger{display: none;}

@media  screen and (max-width:1000px) {
    nav{
        flex-direction: column;
    }
    
    .navbar-links{
        display:none;
        flex-direction: column;
        z-index: 99;
        background-color: #094067;
        text-align: center;
    }
    nav ul li a{
        display: block;
    }
    .hamburger{
        position: absolute;
        right: 15px;
        width: 45px;
        height: 45px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .hamburger:hover{
        cursor: pointer;
    }
    .bars{
        height: 4px;
        width: 100%;
        border-radius: 20px;
        background-color: #fffffe;
    }
    nav ul li:hover{
        background-color: #bae8e8;
        color: #272343;
        cursor: pointer;
        transition: color 0.5s ease-in-out;
    }
    .navbar-links.active{
        display: flex;
    }
    .bars.top{
        animation:slantRight 0.5s ease-in-out 0s 1 normal forwards;
    }
    .bars.bottom{
        animation:slantLeft 0.5s ease-in-out 0s 1 normal forwards;
    }
    .bars.mid{
        animation: vanish 0.5s ease-in-out 0s 1 normal forwards;
    }

    .container span{
        font-size: 80px;
    }

    .skill{
        font-size: 40px;
    }
}

@keyframes slantRight {
    0% {transform:translateY(0px) rotate(0deg);}
    100% {transform:translateY(12px) rotate(45deg);}
}
@keyframes slantLeft {
    0% {transform:translateY(0) rotate(0deg);}
    100% {transform:translateY(-12px) rotate(-45deg);}
}
@keyframes vanish {
    0% {width: 100%;}
    100% {width:0;}
}
@keyframes shake {
    10% {transform: rotate(15deg);}
    20% {transform: rotate(-15deg);}
    30% {transform: rotate(15deg);}
    40% {transform: rotate(-15deg);}
}

@keyframes away {
    0% {font-size: 50px; background-color: #094067;}
    100% {font-size: 25px; background-color: #bae8e8;}
}
@keyframes away800 {
    0% {font-size: 34px; background-color: #094067;}
    100% {font-size: 18px; background-color: #bae8e8;}
}
@keyframes away500 {
    0% {font-size: 34px; background-color: #094067;}
    100% {font-size: 15px; background-color: #bae8e8;}
}
@keyframes away400 {
    0% {font-size: 18px; background-color: #094067;}
    100% {font-size: 10px; background-color: #bae8e8;}
}
@keyframes away300 {
    0% {font-size: 15px; background-color: #094067;}
    100% {font-size: 8px; background-color: #bae8e8;}
}

@media screen and (max-width:800px) {
    .container span{
        font-size: 60px;
    }
    .skill{
        font-size: 34px;
        height: 72px;
    }
    .skill:hover{
        animation: away800 0.5s ease-in-out 0s 1 normal forwards;
    }
}

@media screen and (max-width:700px) {
    .content{
        overflow: scroll;
    }
}
@media screen and (max-width:600px) {
    .container span{
        font-size: 45px;
    }
    .skill{
        font-size: 25px;
        height: 60px;
    }
}
@media screen and (max-width:500px) {
    .skills{
        flex-direction: column;
        
    }
    .about2{
        overflow: scroll;
    }
    .container{
        height: 400px;
    }
    .container span{
        font-size: 35px;
    }
    .me h1{
        font-size: 40px;
    }
    .me p{
        font-size: 20px;
    }
    .skill:hover{
        animation: away500 0.5s ease-in-out 0s 1 normal forwards;
    }
}

@media  screen and (max-width:400px) {
    .container span{
        font-size: 30px;
    }
    .me h1{
        font-size: 30px;
    }
    .me p{
        font-size: 15px;
    }
    .banner{
        font-size: 30px;
    }
    .banner2{
        font-size: 30px;
    }
    .skill{
        font-size: 18px;
        height: 30px;
        margin: 10px;
    }
    .skill span{
        margin-bottom: 6px;
    }
    .skill:hover{
        animation: away400 0.5s ease-in-out 0s 1 normal forwards;
    }
    .content{
        overflow: hidden;
        height: 250px;
    }
    .content h1{
        font-size: 30px;
    }
    .project img{
        width: 85px;
        height: 85px;
    }
    .project span{
        font-size: 13px;
    }
    .project{
        width: 150px;
        height: 150px;
        margin: 10px;
    }
    .logo img{
        height: 35px;
        width: 35px;
    }
    .education h1{
        font-size: 20px;
    }
    .education p{
        font-size: 15px;
    }
    .about2{
        overflow: hidden;
    }
}
@media screen and (max-width:340px){
    .container span{
        font-size: 23px;
    }
    .about2{
        overflow: hidden;
    }
    .content{
        height: 200px;
    }
    .project{
        margin: 2px;
        height: 120px;
        width: 120px;
    }
    .project img{
        width: 70px;
        height: 70px;
    }
    .project span{
        font-size: 10px;
    }
    .skill{
        font-size: 12px;
        height: 25px;
        margin: 10px;
    }
    .skill:hover{
        animation: away300 0.5s ease-in-out 0s 1 normal forwards;
    }
    nav span{
        font-size: 25px;
    }
    .hamburger{
        height: 35px;
        width: 35px;
    }
}
